@font-face {
  font-family: "Gilroy Italic Bold";
  src: url(../font/Gilroy-BoldItalic.ttf);
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
main {
  margin-top: 5rem;
  padding: 1rem;
}
.nav {
  font-size: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1b1c1f;
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.nav_container_img {
  height: 3rem;
  width: 3rem;
}
.nav_imagen {
  display: flex;
  align-items: center;
}
.nav_imagen_logo {
  display: block;
  max-width: 100%;
  border-radius: 100%;
}
.nav_logo-name {
  font-size: 2rem;
}
.nav_list_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 320px;
}
.nav_list_li {
  margin-left: 1rem;
}
.nav_list_container {
  padding: 0.5rem;
  background-color: #36a07b;
  border-radius: 25px;
}

.main_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_logo_image {
  max-width: 20%;
}
.main_logo_title {
  margin: 0;
  font-family: "Gilroy Bold", sans-serif;
  font-size: 4.5rem;
}
.main_logo_description {
  margin: 0;
}
.buttons_container {
  margin: 30px auto 60px auto;
}
.principal-buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.principal-buttons {
  margin-left: 20px;
  padding: 15px 40px;
  background-color: #36a07b;
  border-radius: 10px;
}
.secondary-buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.button-external {
  background-color: #7289da;
}
.card_container {
  width: 60%;
  height: 350px;
  background-color: #36a07b;
  margin: 40px auto;
  padding: 30px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.card_img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_image {
  max-width: 80%;
  max-height: 290px;
}
.card_text_title {
  text-align: center;
}
.card_text_subtitle {
  font-family: "Gilroy Italic Bold";
}

.footer_container {
  width: 100%;
  height: 150px;
  background-color: #1b1c1f;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 150px;
}
.footer_logo_creators {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: center;
}
.footer_logo_cactus {
  height: 130px;
  justify-self: right;
}
.footer_logo_creators_text-container {
  justify-self: center;
}
.footer_logo_creators_main-text {
  margin: 0;
  font-size: xx-large;
}
.footer_logo_creators_text {
  margin: 0;
  font-size: larger;
}
.footer_images_container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
}
.footer_image {
  max-width: 50%;
  justify-self: center;
}
.kiaura_logo {
  width: 100%;
}
.footer_text_container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20%;
  justify-content: center;
  align-content: center;
}
.footer_text {
  margin: 0;
  font-size: large;
  align-self: center;
}
@media only screen and (max-width: 760px) {
  .nav {
    height: 6.25rem;
    font-size: 1em;
  }
  .nav_list_li {
    margin-left: 0.5rem;
  }
  .main_logo_container {
    margin-top: 15px;
  }
  .main_logo_title {
    font-size: 3rem;
  }
  .main_logo_description {
    margin: 0;
    font-size: 1.25rem;
  }
  .card_container {
    width: 80%;
  }

  .footer_container {
    height: 100px;
    grid-template-rows: 100px;
  }

  .footer_logo_cactus {
    height: 70px;
  }

  .footer_logo_creators_main-text {
    font-size: 1em;
  }
  .footer_logo_creators_text {
    font-size: 0.75em;
  }
  .footer_image {
    max-width: 40%;
  }
  .footer_text {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 440px) {
  .nav {
    height: 6.25rem;
    font-size: 0.75em;
  }
  .nav_list_li {
    margin-left: 0.5rem;
  }
  .main_logo_description{
    text-align: center;
  }

  .buttons_container {
    margin: 30px auto 60px auto;
  }
  .principal-buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .principal-buttons {
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 15px 40px;
    background-color: #36a07b;
    border-radius: 10px;
  }
  .secondary-buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .button-external {
    background-color: #7289da;
  }

  .card_container {
    width: 325px;
    height: 550px;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
  }

  .footer_container {
    height: 100px;
    grid-template-rows: 100px;
    display: grid;
    grid-template-columns: 50% 1% 49%;
  }

  .footer_logo_cactus {
    height: 70px;
  }

  .footer_logo_creators_main-text {
    font-size: 1em;
  }
  .footer_logo_creators_text {
    font-size: 0.75em;
  }
  .footer_image {
    max-width: 0%;
  }
  .footer_text {
    font-size: 0.75em;
  }
}
